@page
@model FarmshareAdmin.Pages.FarmAllocation.ManageModel
@{
}
<farm-allocations :context-path="'@Url.Action("","")'"></farm-allocations>

<p>I'm managing!</p>

@section Scripts {
    <script>
        const app = Vue.createApp({})
    </script>

    <script>
        app.component('farm-allocations', {

            mounted() {
                var contextPath = '/';
                fetch('/api/Cars')
                // fetch('/Msg?handler=json')
                    .then(response => response.json())
                    .then(data => {
                        var msgs = data;
                        alert('msgs = ' + msgs);
                    })
            }
        })
        const mountedApp = app.mount("#RenderBody");
    </script>
    <script>
        (function() {
            //farmAllocations(app);
        })();
    </script>
}