@page
@model FarmshareAdmin.Pages.FarmAllocation.ManageModel
@{
}

<p>I'm managing!</p>

@section Scripts {
    <script>
        (function () {
            farmAllocations();
        })();
    </script>
}